@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}
body{
    background-color:	#F5F5F5 ;
}



/* primary color :#ffffff
secondary color :#00d684
thirdcolor:#00060c */